<div fxLayoutAlign="center center" fxFlexFill class="signin-main">
  <mat-card fxFlex="40">
    <mat-toolbar color="primary">Post Office Management System</mat-toolbar
    ><br />
    <mat-card-title fxLayoutAlign="center"> Sign In </mat-card-title>

    <form
      [formGroup]="signinForm"
      (submit)="onSubmit()"
      fxLayoutAlign="stretch"
      fxLayout="column"
      class="signin-form"
    >
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Username"
          [formControl]="props('username')"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          [formControl]="props('password')"
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </mat-form-field>

      <button mat-raised-button type="submit">Sign In</button>
    </form>
  </mat-card>
</div>
